//Колонки
// $container-max-widths: (
//   xl: 1320px
// );
$grid-gutter-width: 2.5rem;

//Оформление кнопок и ссылок
$primary: #FF7C16;
.btn-primary {
	color: #fff !important;
}

$link-hover-decoration: none;

//Bootstrap
//@import '~bootstrap/scss/bootstrap.scss';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
// @import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
// @import "~bootstrap/scss/print";




//Bootstrap VUE
// @import '~bootstrap-vue/src/index.scss';
// Include variables and utilities first
	@import "~bootstrap-vue/src/variables";
	@import "~bootstrap-vue/src/utilities";
// General styling needed for special form controls
	@import "~bootstrap-vue/src/custom-controls";
// Include custom SCSS for components
	// @import "~bootstrap-vue/src/components/index";
		// @import "~bootstrap-vue/src/components/avatar/index";
		// @import "~bootstrap-vue/src/components/calendar/index";
		// @import "~bootstrap-vue/src/components/card/index";
		// @import "~bootstrap-vue/src/components/dropdown/index";
		@import "~bootstrap-vue/src/components/form-checkbox/index";
		@import "~bootstrap-vue/src/components/form-datepicker/index";
		@import "~bootstrap-vue/src/components/form-file/index";
		@import "~bootstrap-vue/src/components/form-input/index";
		@import "~bootstrap-vue/src/components/form-radio/index";
		// @import "~bootstrap-vue/src/components/form-rating/index";
		// @import "~bootstrap-vue/src/components/form-spinbutton/index";
		// @import "~bootstrap-vue/src/components/form-tags/index";
		// @import "~bootstrap-vue/src/components/form-timepicker/index";
		@import "~bootstrap-vue/src/components/input-group/index";
		// @import "~bootstrap-vue/src/components/media/index";
		@import "~bootstrap-vue/src/components/modal/index";
		@import "~bootstrap-vue/src/components/nav/index";
		@import "~bootstrap-vue/src/components/navbar/index";
		// @import "~bootstrap-vue/src/components/pagination-nav/index";
		// @import "~bootstrap-vue/src/components/pagination/index";
		// @import "~bootstrap-vue/src/components/popover/index";
		// @import "~bootstrap-vue/src/components/sidebar/index";
		// @import "~bootstrap-vue/src/components/skeleton/index";
		// @import "~bootstrap-vue/src/components/table/index";
		// @import "~bootstrap-vue/src/components/time/index";
		// @import "~bootstrap-vue/src/components/toast/index";
		@import "~bootstrap-vue/src/components/tooltip/index";
// Include custom SCSS for icons
//@import "~bootstrap-vue/src/icons/index";


$grey-text: #717171;
$light-grey: #C4C4C4;




//Страницы
html {
	// scroll-behavior: smooth;
	font-size: 16px;
}
body {
	font-family: 'Open Sans', sans-serif;
}
.async-hide { 
	opacity: 0 !important
}
.page {
	.container , .container-fluid , .hero{
		margin-bottom: 10rem;
	}
	.hero {
		position: relative;
		height: 70vh;
		min-height: 550px;
		max-height: 800px;
		.container , .row {
			height: 100%;
		}		
	}
	@media (max-width: 767.98px) {
		
		.container , .container-fluid , .hero {
			margin-bottom: 5rem;
		}
		.hero {
			max-height: initial;
		}
	}
}
.page , .post {
	overflow: hidden;
	padding-top: 5.5rem;
	@media (max-width: 767.98px) {
		padding-top: 3.55rem;
	}
}



//Шрифты
@font-face {
	font-family: 'Stag Sans';
	src: url('/assets/font/Stag Sans-Medium-Web.woff') format('woff'), url('/assets/font/Stag Sans-Medium-Web.woff') format('woff');
	font-style: normal;
	font-display: swap;
}
.font12px {
	font-size: 0.750rem;
	line-height: 1rem;
}
.font14px {
	font-size: 0.875rem;
	line-height: 1.4rem;
}
.font16px {
	font-size: 1rem;
	line-height: 1.7rem;
}
.font17px {
	font-size: 1.063rem;
	line-height: 1.8rem;
}
.font20px {
	font-size: 1.25rem;
	line-height: 2.125rem;
}
.font24px {
	font-size: 1.5rem;
	line-height: 2rem;
}

.grey-text {
	color: $grey-text;
}
.lightgrey-text {
	color: $light-grey;
}



//Заголовки
h1 , .h1 , h2 , .h2 , h3 , .h3 , h4 , .h4 , h5 , .h5 {
	font-family: 'Stag Sans' , Tahoma , sans-serif;
}
@media (max-width: 767.98px) {
	h1 , .h1 , h2 , .h2 {
		font-size: 1.5rem;
		line-height: 2rem;
	}
	h3 , .h3 , h4 , .h4 {
		font-size: 1.25rem;
		line-height: 1.8rem;
	}
	h1 , .h1 , h2 , .h2 , h3 , .h3 , h4 , .h4 {
		br {
			display: none;
		}
	}
}



//Ссылки
a {
	color: $primary;
	outline: none;
}
// a[target='_blank'] {
// 	position: relative;
// 	&::after {
// 		display: block;
// 		content: ' ';
// 		background: top left no-repeat url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 7.5L12 1M12 1H8.5M12 1V4.5' stroke='%23FF8246'/%3E%3Cpath d='M5.5 3H1V11.5H10V8.5' stroke='%23FF8246'/%3E%3C/svg%3E%0A");
// 		width: 13px;
// 		height: 13px;
// 		position: absolute;
// 		top: 4px;
// 		right: -20px;
// 	}
// }
a.box {
	position: relative;
	display: block;
	top:0;
	transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
	&.box-shadow {
		box-shadow: 0 3px 10px rgba(0,0,0,.1);
	}
	&:hover {
		top: -5px;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	}
}



//Списки
.text {
	ul {
		padding-left: 1rem;
		li {
			margin: 0.5rem 0;
			list-style-type: none;
			&::before {
				display: block;
				position: absolute;
				content: " ";
				width: 0.5rem;
				height: 0.5rem;
				background-color: #FF7C16;
				border-radius: 0.5rem;
				margin-top: 0.55rem;
				margin-left: -1rem;
			}
		}
	}
	ol {
		padding-left: 0;
		counter-reset: item; 
		li {
			margin: 0.5rem 0;
			list-style-type: none;
			&:before {
				content: counter(item) ". ";
				counter-increment: item;
				color: $primary;
			}
		}
	}
}



//Формы
form {
	.input-group {
		max-width: 480px;
	}
	@media (max-width: 767.98px) {
		.input-group {
			display: block;
			max-width: 100%;
			.form-control {
				width: 100%;
				border-radius: 5px !important;
			}
			.btn {
				width: 100%;
				height: 50px;
				margin-top: 1rem;
				border-radius: 5px !important;
			}
		}
	}
}
.form-begin_site .input-group {
	max-width: inherit;
}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
	box-shadow: inset 0 -1px 0 #ddd;
}
.btn-outline-primary:hover {
	color: #FFF;
}



//Навигация
.outline-tabs {
	.nav-pills .nav-link {
		border: 1px solid #fff;
		background-color: #fff !important;
		border-radius: 21px;
		color: #000;
		&.active {
			border: 1px solid $primary;
			color: #000;
			&::after {
				border-top: 1px dashed #fff;
			}
		}
		&::after {
			content: " ";
			display: block;
			margin-top: -1px;
			width: 100%;
			height: 1px;
			border-top: 1px dashed $primary;
		}
		&:hover::after {
			border-top: 1px dashed #fff;
		}
	}
	.nav-pills .nav-item-all {
		padding: 0.5rem 0 0.5rem 0.5rem;
		position: absolute;
		right: 1.25rem;
	}
}
.breadcrumb {
	padding: 0;
	margin: 0;
	background: transparent;
	
	.breadcrumb-item:first-child {
		list-style: none;
	}
	.breadcrumb-item:not(:first-child) {
		margin-left: 2rem;
		padding-left: 0.85rem;
		&::marker {
			content: "→";
			color: $light-grey;
		}
	}
	@media (max-width: 767.98px) {
		font-size: 14px;
		.breadcrumb-item:not(:first-child) {
			margin-left: 0.7rem;
			padding-left: 0.25rem;
			&::marker {
				content: "/";
				color: $light-grey;
			}
		}
	}
}



//Верхняя навигация
.navbar {
	border-bottom: 1px solid #f3f3f3;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	transition: 0.35s all cubic-bezier(0.175, 0.885, 0.320, 1.275);
	
	a,
	ul,
	button,
	#nav_collapse {
		position: relative;
		z-index: 3;
		&:focus-within {
			outline: none !important;
		}
	}
	.logo {
		position: relative;
		top: -2px;
	}
	.nav-link {
		color: #000 !important;
	}
	.dropdown-toggle::after {
		width: 5px;
		height: 5px;
		margin-left: 0.5em;
		border: none;
		border-left: 1px solid #333;
		border-bottom: 1px solid #333;
		transform: rotate(-45deg); outline: none !important;
	}
	.dropdown-item {
		padding: 0.5rem 1rem;
	}
	.navbar-toggler {
		border-color: transparent;
	}
	.blur , .dropdown-menu {
		background-color: rgba(255, 255, 255, 0.90);
		backdrop-filter: blur(10px);
	}
	.blur {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}
	&.hideHeader {
		top: -60px;
	}
	.nav_search {
		position: relative;
		label {
			display: inline-block;
		}
		.form-control {
			width: 280px;
		}
		.bi-search {
			margin-top: -3px;
		}
		.bi-search.canclick {
			cursor: pointer;
		}
		.bi-x {
			cursor: pointer;
			position: absolute;
			right: 6px;
			top: 12px;
		}
	}
}
@media (max-width: 767.98px) {
	.logo {
		width: auto;
		height: 25px;
	}
}
@media (max-width: 991.98px) {
	.dropdown-menu {
		background: none !important;
		margin-bottom: 0.5rem;
		padding: 0;
		border: 0;
		a {
			background: none !important;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.logo {
		width: auto;
		height: 30px;
	}
	.navbar , .btn {
		font-size: 0.875em;
	}
}
@media (min-width:  992px) {
	#nav_collapse , .navbar-nav , .hasmegamenu {
		position: initial !important;
	}
	.hasmegamenu {
		.dropdown-menu {
			width: 960px;
			position: absolute;
			left: 50%;
			margin-top: -1rem;
			margin-left: -480px;
			padding: 0;
			border: 0;
			box-shadow: 0px 0px 20px rgba(0, 20, 92, 0.1);
		}
		.megamenu {
			margin: 0;
			&::before {
				content: " ";
				top: -0.7rem;
				position: absolute;
				display: block;
				width: 20px;
				height: 20px;
				border-radius: 5px;
				background: #fff;
				transform: rotate(45deg);
				display: none;
			}
			&--instruments::before  {
				left: 700px;
			}
			.row {
				ul {
					padding: 0;
					li {
						list-style: none;
						a {
							display: inline-block;
							color: #000;
							b {
								display: block;
							}
							&:hover {
								color: #FF7C16;
							}
						}
						
					}
				}
			}
			&__post {
				&__pic {
					width: 80px;
					height: 80px;
					border-radius: 3px;
					background-size: cover;
					background-position: center;
					float: left;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.hasmegamenu {
		.dropdown-menu {
			width: 1140px;
			margin-left: -570px;
		}
		.megamenu {
			&--instruments::before  {
				left: 700px;
			}
		}
	}
}




//Подвал
footer {
	margin-top: 3rem;
	color: #333;

	.container {
		margin-bottom: 0 !important;
	}

	.footer-nav {
		border-bottom: 1px solid #F2F2F2;
	}

	.apps-nav { 
		svg {
			position: relative;
		}
		.windows svg , .android svg {
			top: -1px;
		}
		.ios svg {
			top: -2px;
		}
	}

	.navbar-text {
		font-weight: bold;
	}

	.nav-link {
		padding: .25rem 0;
		color: #333;

		&:hover, &:hover path {
			color: $primary;
			fill: $primary;
		}
	}

	a::after {
		display: none !important;
	}

	@media (max-width: 575.98px) {
		.social-nav .navbar-text , .apps-nav .navbar-text {
			width: 100%;
		}
		.apps-nav svg {
			display: block;
			width: 100%;
		}
	}

	@media (min-width: 1200px) {
		.social-nav {
			position: relative;
			left: -0.25rem;
		}
	}

}


//Pagination
.Pagination {
	display: flex;
	justify-content: center;
	a , span {
		display: inline-block;
		width: 36px;
		text-align: center;
		margin: 4px;
		padding: 5px 0;
		color: #000;
		border: 1px solid $primary;
		border-radius: 50%;
	}
	.active , .ais-Pagination-item--selected a {
		color: #fff;
		background-color: $primary;
	}
	li {
		display: inline-block;
		list-style: none;
	}
}