//Колонки
$grid-gutter-width: 40px;

//Оформление кнопок и ссылок
$primary: #FF6600;
.btn-primary {
	color: #fff !important;
}

$link-hover-decoration: none;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

$blue-link: #FF6600;
$grey-text: #717171;
$light-grey: #C4C4C4;



//Подключаем шрифты
@font-face {
	font-family: 'Stag Sans Black';
	src: url('../font/StagSansLCTTMedium.woff') format('woff'), url('../font/StagSansLCTTMedium.woff') format('woff');
	font-style: normal;
	font-display: swap;
}

html {
	scroll-behavior: smooth;
	font-size: 16px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

* {
	outline: none;
}

.async-hide { 
	opacity: 0 !important
}

.page {
	padding-top: 5.5rem;
	.container {
		margin-bottom: 10rem;
	}
	@media (max-width: 575.98px) {
		padding-top: 6.5rem;
		.container {
			margin-bottom: 5rem;
		}
	}
}

.font12px {
	font-size: 0.750rem;
	line-height: 1.4rem;
}
.font14px {
	font-size: 0.875rem;
	line-height: 1.5rem;
}
.font17px {
	font-size: 1.063rem;
	line-height: 1.8rem;
}
.font20px {
	font-size: 1.25rem;
	line-height: 2.125rem;
}
.font24px {
	font-size: 1.5rem;
	line-height: 2.5rem;
}

.grey-text {
	color: $grey-text;
}
.lightgrey-text {
	color: $light-grey;
}

a {
	color: $blue-link;
}
a.box {
	position: relative;
	display: block;
	top:0;
	transition: all 150ms cubic-bezier(0, 0, 0.2, 1);
	&:hover {
		top: -5px;
		box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
	}
}

h1 , .h1 , h2 , .h2 , h3 , .h3 , h4 , .h4{
	font-family: 'Stag Sans Black';
}

.breadcrumb {
	padding: 0;
	margin: 0;
	background: transparent;

	.breadcrumb-item + .breadcrumb-item::before {
		content: "→" !important;
	}
}

form {
	.input-group {
		max-width: 480px;
		@media (max-width: 767.98px) {
			display: block;
			.form-control {
				width: 100%;
				border-radius: 5px !important;
			}
			.btn {
				width: 100%;
				height: 50px;
				margin-top: 1rem;
				border-radius: 5px !important;
			}
		}
	}
}
.form-begin_site .input-group {
	max-width: inherit;
}




//Верхняя навигация
@import '~/components/Header/Header.scss';

//Подвал
@import '~/components/Footer/Footer.scss';