.post {
	*::selection {
		color: #fff;
		background: $blue-link;
	}
	&__categories {
		.nav-item {
		margin-right: 24px;
		}
		.nav-link {
		padding-left: 0;
		padding-right: 0;
		color: #000;
		}
		.active {
		border-bottom: 2px solid $blue-link;
		}
	}

	//Основное изображение статьи
	&__image img {
		border-radius: 5px;
		max-width: 100%;
	}

	//Оформление контента
	$content-tags: "&>h1, &>h2, &>h3, &>h4, &>p, &>figure, &>ul, &>ol, &>div";
	&__content {
		position: relative;
	}

	//Авторы и участники
	&__creators {
		img {
		width: 80px;
		border-radius: 50%;
		margin-bottom: 0.5rem;
		}
		p {
		margin-bottom: 0;
		}
	}
	&__text {
		position: relative;
		z-index: 1;
		#{$content-tags} {
		margin-bottom: 1.25rem;
		}
		h2:not(:first-child) {
			padding-top: 4.5rem;
		}
		h3{
			padding-top: 2rem;
		}
		h4 {
			padding-top: 1rem;
		}
		ul {
			padding-left: 30px;
		}
		ol {
			padding-left: 30px;
			counter-reset: item;
			& > li {
				position: relative;
				list-style-type: none;
				counter-increment: item;
			}
			& > li:before {
				display: inline-block;
				position: absolute;
				left: -1.5rem;
				width: 1rem;
				font-weight: bold;
				text-align: right;
				content: counter(item) ".";
			}
		}
		figure {
			margin-top: 2rem;
			margin-bottom: 2rem;
			img {
				border-radius: 5px;
				border: 1px solid $light-grey;
				margin-bottom: 0.5rem;
			}
			figcaption {
				color: $grey-text;
				font-size: 0.875rem;
				text-align: center;
			}
		}
		img,
		video {
			max-width: 100%;
		}
	}

	//Цитата, стиль с фото
	&__quote {
		margin-left: 0 !important;

		&__photo {
			.photo {
				position: relative;
				z-index: 1;
			}
			.smash {
				position: absolute;
				z-index: 2;
				top: 180px;
				left: -10px;
			}
		}
	}
	//Цитата, стиль без фото
	&__quote__text {
		text-align: center;
		p {
			margin-top: 1rem;
			font-size: 1.5rem;
			font-weight: bold;
		}
	}


	//Формы
	form {
		display: table;
		box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
		border-radius: 5px;
		overflow: hidden;
		input:focus {
			outline: none !important;
		}
		.form__email {
			border: none;
		}
		.form__button {
			border: none;
			background-color: #FF8246;
			color: #fff;
		}
	}


	//Баннер подписки
	&__lidform {
		margin-left: 0 !important;
		max-width: 100% !important;
		background-color: #FEBE31;
	}

	//Регистрация
	&__registration {
		background: #467AFF url(../images/article/registration.jpg) center center no-repeat;
		background-size: cover;
		color: #fff;
		height: 340px;
		margin-top: 5rem;
	}

	//Рекомендованные статьи
	&__recomendations {
		border-top: 1px solid $light-grey;

		a {
			color: #000;
			font-weight: bold;
			&:hover {
				color: $blue-link;
			}
		}

		img {
			max-width: 100%;
			display: block;
		}
	} 




	
	//Адаптация под устройства
	@media (min-width: 1200px) {
		&__text {
			#{$content-tags} {
				max-width: 60%;
				margin-left: 8.333333%;
			}
			&__rightbox {
				position: absolute;
				right: 20px;
				width: 23%;
				z-index: 2;
				img {
					margin-bottom: 0.5rem;
				}
			}
			&__leftbox img {
				position: absolute;
				left: 20px;
			}
		}
		&__quote {
			max-width: 76% !important;
		}
		
	}
	@media (max-width: 1199px) {
		&__text {
			#{$content-tags} {
				max-width: 70%;
			}
			&__rightbox {
				position: absolute;
				right: 20px;
				width: 23%;
				z-index: 2;
				img {
					margin-bottom: 0.5rem;
				}
			}
			&__leftbox {
				display: flex;
				align-items: flex-start;
				img {
					margin-right: 1rem;
					margin-bottom: 0;
				}
			}
		}
		&__quote {
			max-width: 84% !important;
			&__photo .smash {
				top: 160px;
				width: 90px;
			}
		}
	}
	@media (max-width: 991px) {
		&__text {
			#{$content-tags} {
				max-width: 100%;
			}
			&__rightbox {
				position: relative;
				right: 0;
				width: 100%;
				z-index: 2;
				display: flex;
				align-items: flex-start;
				a {
					display: contents;
				}
				img, .h1 {
					margin-right: 1rem;
					margin-bottom: 0;					
				}
				&.font14px , .font14px{
					font-size: 1.063rem !important;
					color: #212529;
				}
			}
		}
		&__quote {
			max-width: 100% !important;
			&__photo .smash {
				top: 150px;
				width: 80px;
			}
		}
		&__registration {
			background-position: -150px;
			background-size: auto 100%;
		}
	}
	@media (max-width: 767.98px) {
		&__quote {
			&__photo .smash {
				top: 110px;
				left: 5px;
				width: 50px;
			}
		}
		&__text {
			&__leftbox, &__rightbox {
				display: block;
				img {
					margin-bottom: 0.5rem;
				}
			}
		}
		&__registration {
			background: #467AFF;
		}
		form {
			display: block;
			box-shadow: none;
			border-radius: 0;
			overflow: hidden;
			.form__email {
				border: none;
				margin-bottom: 1.5rem;
				width: 100%;
				border-radius: 5px;
				box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
			}
			.form__button {
				width: 100%;
				border-radius: 5px;
				box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
			}
		}
	}
}