.videoRegistration {
	background: #F8F8FF;
	padding: 6rem 0;

	&__bg {
		border-radius: 5px;
		max-width: 100%;
	}

	&__play {
		position: relative;
		&::after {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -76px;
			margin-left: -76px;
			z-index: 4;
			content: "";
			background: url(https://cdn-www.carrotquest.io/static/img/main-page/hero_play_button.svg) center no-repeat;
			background-size: 120px 120px;
			width: 152px;
			height: 152px;
			transition: all .2s ease-in-out;
		}
		&:hover {
			&::after {
				background-size: 152px 152px;
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 2.5rem 0;
		.h1 {
			font-size: 1.5rem;
		}
	}
	@media (max-width: 991.98px) {
		.h1 {
			font-size: 1.75rem;
		}
	}
	@media (max-width: 1199.98px) {
		.h1 {
			font-size: 2rem;
		}
	}

}