.hero {
	padding-top: 96px;
	padding-bottom: 96px;
	margin-bottom: 0;

	@media (max-width: 991.98px) { background-color: #F8F8FF; }

	.bg {
		background-color: #F8F8FF;
		position: absolute;
		z-index: 1;
		top: 0; left: 0; right: 0;
		height: 1025px;
		overflow: hidden;
		@media (max-width: 991.98px) { display: none; }
		@media (max-width: 1024px) { height: 1110px; }

		.circle{
			position: absolute;
			display: block;
			list-style: none;
			width: 100px;
			height: 100px;
			background: url("/static/img/library/q.svg") no-repeat;
			background-size: contain;
			animation-name: float;
			animation-duration: 25s;
			animation-direction: alternate;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			bottom: -150px;
			&::before, &::after {
				display: none;
			}
		}

		.circle:first-child{
			left: 25%;
			width: 80px;
			height: 80px;
			animation-delay: 0;
		}

		.circle:nth-child(2){
			left: 10%;
			width: 70px;
			height: 70px;
			animation-delay: 12s;
			animation-duration: 20s;
		}

		.circle:nth-child(3){
			left: 70%;
			width: 40px;
			height: 40px;
			animation-delay: 4s;
		}

		.circle:nth-child(4){
			left: 5%;
			width: 60px;
			height: 60px;
			animation-delay: 0s;
			animation-duration: 30s;
		}

		.circle:nth-child(5){
			left: 0%;
			width: 20px;
			height: 20px;
			animation-delay: 0s;
			animation-duration: 20s;
		}

		.circle:nth-child(6){
			left: 45%;
			width: 70px;
			height: 70px;
			animation-delay: 20s;
		}

		.circle:nth-child(7){
			left: 35%;
			width: 50px;
			height: 50px;
			animation-delay: 7s;
			animation-duration: 17s;
		}

		.circle:nth-child(8){
			left: 65%;
			width: 25px;
			height: 25px;
			animation-delay: 19s;
		}

		.circle:nth-child(9){
			left: 75%;
			width: 80px;
			height: 80px;
			animation-delay: 12s;
		}

		.circle:nth-child(10){
			left: 90%;
			width: 30px;
			height: 30px;
			animation-delay: 0s;
			animation-duration: 21s;
		}

		@keyframes float{
			0%{
				transform: translateY(0) rotate(0deg);
				opacity: 1;
				border-radius: 0;
			}

			100%{
				transform: translateY(-1000px) rotate(720deg);
				opacity: 0.3;
				border-radius: 50%;
			}
		}
	}
	.about {
		position: relative;
		z-index: 2;
	}

	.h1 {
		color: #96A0AE;
		font-weight: normal;
		font-size: 46px;
		line-height: 62px;
		margin-bottom: 48px;
		h1,p {
			display: inline;
			margin: 0;
		}
		b {
			color: #000;
		}
		span {
			display: inline-block;
			position: relative;
			width: 35px;
			height: 35px;
			top: 6px;
		}
		.book {
			background: url("../../images/library/hero_book.svg") no-repeat;
			background-size: contain;
		}
		.plane {
			background: url("../../images/library/hero_plane.svg") no-repeat;
			background-size: contain;
		}
		.db {
			width: 38px;
			height: 34px;
			top: 4px;
			background: url("../../images/library/hero_db.svg") no-repeat;
			background-size: contain;
		}
		@media (max-width: 575.98px) {
			font-size: 24px;
			line-height: 32px;
			span {
				width: 24px;
				height: 24px;
				top: 5px;
			}
			.db {
				width: 25px;
				height: 25px;
				top: 6px;
			}
		}
		@media (max-width: 767.98px) { 
			font-size: 30px;
			line-height: 38px;
		}
		@media (max-width: 991.98px) { 
			font-size: 36px;
			line-height: 44px;
			span {
				width: 30px;
				height: 30px;
				top: 6px;
			}
			.db {
				width: 32px;
				height: 30px;
				top: 5px;
			}
		}
	}

	p {
		margin-bottom: 24px;
	}

	form {
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
		float: left;
		margin-bottom: 24px;
		
		.input-field {
			border: 0;
			padding: 16px 24px;
			min-width: 280px;
		}
		.link-button_filled {
			padding: 16px 24px !important;
		}
		.input-field::placeholder {
			color: #C4C4C4 !important;
		}
	}
	
	@media (max-width: 767.98px) {
		padding-top: 48px;
		padding-bottom: 48px;

		form {
			box-shadow: none;
			.input-field,
			.link-button_filled {
				width: 100%;
				max-width: 100%;
				border-radius: 5px !important;
				box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
			}
			.input-field {
				margin-bottom: 96px;
			}
		}
		
	}
	
}