.resources {
    margin-bottom: $step12;
    @media ($largeTabletsMax) {
        margin-bottom: $step9;
    }
    @media ($phonesMax) {
        margin-bottom: $step6;
    }

    .resource__wrapper {
        margin-top: $step6;
        margin-bottom: $step2;
        text-align: center;
        cursor: pointer;

        img {
            max-height: 216px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
            display: block;
            position: relative;
            top: 0;
            z-index: 2;
            @include transition(all .3s ease);
            @media (max-width: 575.98px) {
                max-width: 100%;
            }
        }
        .pic__wraper {
            position: relative;
            display: inline-block;
            margin: 0 auto ;
            &::before {
                content: "";
                display: block;
                position: absolute;
                background-color: #000;
                width: 100%;
                height: 100%;
                z-index: 3;
                opacity: 0;
                top: 0; left: 0; right: 0; bottom: 0;
                @include transition(all .3s ease);
            }
            &::after {
                content: url("/static/img/library/download.svg");
                position: absolute;
                top: 40%;
                left: 50%;
                margin-top: -45px;
                margin-left: -40px;
                z-index: 4;
                opacity: 0;
                @include transition(all .25s ease);
            }
            @media (hover: hover) {
                &::before {
                    opacity: 0;
                }
                &::after {
                    opacity: 0;
                }
            }
            @media (hover: none) {
                &::after {
                    content: url("/static/img/library/download_nohover.svg");
                    margin-top: -12px;
                    top: 50%;
                    opacity: 1;
                }
            }
        }

        .tag {
            text-transform: uppercase;
            font-size: 12px;
            color: #A4A4A4;
            margin-bottom: $step1;
        }

        .title {
            font-size: 20px;
            line-height: 28px;
        }

        &:hover {
            .pic__wraper {
                &::before {
                    opacity: 0.5;
                }
                &::after {
                    top: 50%;
                    opacity: 1;
                }
                img {
                    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
                }
            }
        }

        @media (max-width: 767.98px) {
            margin-top: 24px;
            text-align: left;
            .tag {
                font-size: 11px;
            }
            .title {
                font-size: 15px;
                line-height: 20px;
                font-weight: bold;
            }
        }

    }

    .more {
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #FF8246;
        padding: $step2 $step3;
        margin: $step6 0 0;
        display: inline-block;
        position: relative;
        @include transition(all .2s ease);
        cursor: pointer;
        &:hover {
            background-color: #FF8246;
            color: #fff;
        }
    }

    .substrible {
        margin-top: $step12;
        margin-bottom: $step16;
        text-align: center;
        @media ($largeTabletsMax) {
            margin-top: $step9;
            margin-bottom: $step13;
        }
        @media ($phonesMax) {
            margin-top: $step6;
            margin-bottom: $step12;
        }
        p {
            margin-bottom: $step3;
        }
        form {
            display: inline-flex;
            flex-wrap: wrap;
            box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
            margin: 0 auto;
            
            .input-field {
                border: 0;
                padding: $step2 $step3;
                min-width: 280px;
            }
            .link-button_filled {
                padding: $step2 $step3 !important;
            }
            .input-field::placeholder {
                color: #C4C4C4 !important;
            }
        }
        
        @media (max-width: 767.98px) {
            form {
                box-shadow: none;
                .input-field,
                .link-button_filled {
                    width: 100%;
                    max-width: 100%;
                    border-radius: 5px !important;
                    box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
                }
                .input-field {
                    margin-bottom: $step2;
                }
            }
            
        }
    }
}

#email_davay {
    display: none;
}
.body--substrible {
    max-width: 550px;
}

.fancybox-container {
    form {
        display: inline-flex;
        flex-wrap: wrap;
        box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
        margin: 0 auto;
        
        .input-field {
            border: 0;
            padding: $step2 $step3;
            min-width: 280px;
        }
        .link-button_filled {
            padding: $step2 $step3 !important;
        }
        .input-field::placeholder {
            color: #C4C4C4 !important;
        }
    }
    
    @media ($largeTabletsMax) {    
        form {
            box-shadow: none;
            .input-field,
            .link-button_filled {
                width: 100%;
                max-width: 100%;
                border-radius: 5px !important;
                box-shadow: 0px 3px 10px rgba(9, 29, 100, 0.1);
            }
            .input-field {
                margin-bottom: $step2;
            }
        }
        
    }
}